In [1]:
import pandas as pd

In [2]:
combine_result = pd.read_excel('combine_result.xlsx')

In [5]:
combine_result = combine_result[['metal', 'freq_win', 'use_report_day', 'rolling_half', 'version', 'use_horizon',
                                'cover_ratio', 'acc', 'acc_num', 'left_num', 'left_date_num', 'total_date_num']]

In [6]:
short_term_combine_result = combine_result[combine_result['use_horizon']=='1_3_5']
long_term_combine_result = combine_result[combine_result['use_horizon']=='10_20_60']

In [7]:
def single_metal_analysis(met, df, 
                          freq_win_list=None, 
                          use_report_list=None, 
                          rolling_half_list=None, 
                          version_list=None):
    
    metal_df = df[df['metal']==met]
    if freq_win_list == None:
        freq_win_list  = [10, 15, 20]
    
    if use_report_list == None:
        use_report_list = [1, 3, 5]
    
    if rolling_half_list == None:
        rolling_half_list = ['1_half', '2_half', '3_half', '4_half']
    
    if version_list == None:
        version_list = ['v2', 'v3']
    print('------------------------testing the {}---------------------------'.format(met))
    print('checking the freq_win of {}'.format(met))
    for freq_win in freq_win_list:
        tmp = metal_df[metal_df['freq_win']==freq_win]
        print('freq_win = {}, the accuracy  is {}, cover_ratio is {}'.format(freq_win, tmp['acc_num'].sum()/tmp['left_num'].sum(), tmp['left_num'].sum()/tmp['report_num'].sum()))
        del tmp
    print('\n')
    print('checking the use_report_list of {}'.format(met))
    for use_report in use_report_list:
        tmp = metal_df[metal_df['use_report_day']==use_report]
        print('use_report = {}, the accuracy  is {}, cover_ratio is {}'.format(use_report, tmp['acc_num'].sum()/tmp['left_num'].sum(), tmp['left_num'].sum()/tmp['report_num'].sum()))
        del tmp
    print('\n')
    print('checking the rolling_half of {}'.format(met))
    for rolling_half in rolling_half_list:
        tmp = metal_df[metal_df['rolling_half']==rolling_half]
        print('rolling_half = {}, the accuracy  is {}, cover_ratio is {}'.format(rolling_half, tmp['acc_num'].sum()/tmp['left_num'].sum(), tmp['left_num'].sum()/tmp['report_num'].sum()))
        del tmp
    print('\n')
    print('checking the version_list of {}'.format(met))
    for version in version_list:
        tmp = metal_df[metal_df['version']==version]
        print('version = {}, the accuracy  is {}, cover_ratio is {}'.format(version, tmp['acc_num'].sum()/tmp['left_num'].sum(), tmp['left_num'].sum()/tmp['report_num'].sum()))
        del tmp
    print('----------------------------------------------------------------')

In [8]:
def all_metal_analysis(metal_list, df, 
                       freq_win_list=None, 
                       use_report_list=None, 
                       rolling_half_list=None, 
                       version_list=None):
    metal_df = df[df['metal'].isin(metal_list)]
    if freq_win_list == None:
        freq_win_list  = [10, 15, 20]
    
    if use_report_list == None:
        use_report_list = [1, 3, 5]
    
    if rolling_half_list == None:
        rolling_half_list = ['1_half', '2_half', '3_half', '4_half']
    
    if version_list == None:
        version_list = ['v2', 'v3']
    print('------------------------testing the {}---------------------------'.format(','.join(metal_list)))
    print('checking the freq_win of {}'.format(','.join(metal_list)))
    for freq_win in freq_win_list:
        tmp = metal_df[metal_df['freq_win']==freq_win]
        print('freq_win = {}, the accuracy  is {}, cover_ratio is {}'.format(freq_win, tmp['acc_num'].sum()/tmp['left_num'].sum(), tmp['left_num'].sum()/tmp['report_num'].sum()))
        del tmp
    print('\n')
    print('checking the use_report_list of {}'.format(','.join(metal_list)))
    for use_report in use_report_list:
        tmp = metal_df[metal_df['use_report_day']==use_report]
        print('use_report = {}, the accuracy  is {}, cover_ratio is {}'.format(use_report, tmp['acc_num'].sum()/tmp['left_num'].sum(), tmp['left_num'].sum()/tmp['report_num'].sum()))
        del tmp
    print('\n')
    print('checking the rolling_half of {}'.format(','.join(metal_list)))
    for rolling_half in rolling_half_list:
        tmp = metal_df[metal_df['rolling_half']==rolling_half]
        print('rolling_half = {}, the accuracy  is {}, cover_ratio is {}'.format(rolling_half, tmp['acc_num'].sum()/tmp['left_num'].sum(), tmp['left_num'].sum()/tmp['report_num'].sum()))
        del tmp
    print('\n')
    print('checking the version_list of {}'.format(','.join(metal_list)))
    for version in version_list:
        tmp = metal_df[metal_df['version']==version]
        print('version = {}, the accuracy  is {}, cover_ratio is {}'.format(version, tmp['acc_num'].sum()/tmp['left_num'].sum(), tmp['left_num'].sum()/tmp['report_num'].sum()))
        del tmp
    print('----------------------------------------------------------------')

In [9]:
def different_metal_certain_factor_analysis(metal_list, df, consider_param):
    target_param = list(df[consider_param].unique())
    
    res_df = pd.DataFrame()
    res_df['metal'] = metal_list
    for tar in target_param:
        tmp = []
        for met in metal_list:
            tmp_df = df[(df['metal']==met)&(df[consider_param]==tar)]
            tmp.append(tmp_df['acc_num'].sum()/tmp_df['left_num'].sum())
        res_df[tar] = tmp
    
    for tar in target_param:
        tmp_df = df[df[consider_param] == tar]
        print('{} is {}, accuracy is {}'.format(consider_param, tar,tmp_df['acc_num'].sum()/tmp_df['left_num'].sum() ))
    
    return res_df

In [10]:
def choose_metal(metal_list, df):
    res_df = pd.DataFrame()
    res_df['metal'] = metal_list
    
    accuracy = []
    for met in metal_list:
        tmp_df = df[df['metal']==met]
        accuracy.append(tmp_df['acc_num'].sum()/tmp_df['left_num'].sum())
    res_df['acc'] =  accuracy
    
    print(df['acc_num'].sum()/df['left_num'].sum())
    return res_df

# Analyze the freq_window

For the short term:<br>
The overall performance is better<br>
In summary, we can choose freq_win 15<br><br>

For the long term:<br>
The overall performance is worse than the short term<br>
In summary, we can choose freq_win 20<br><br>

In [11]:
different_metal_certain_factor_analysis(['Ni', 'Zn', 'Pb', 'Xi', 'Al', 'Cu'], short_term_combine_result,'freq_win')

freq_win is 10, accuracy is 0.49004070425588286
freq_win is 15, accuracy is 0.4937092636462949
freq_win is 20, accuracy is 0.48673216867174673

  metal        10        15        20
0    Ni  0.511837  0.495078  0.497426
1    Zn  0.491817  0.500032  0.498071
2    Pb  0.473865  0.471584  0.471514
3    Xi  0.462868  0.453857  0.458921
4    Al  0.501983  0.512608  0.494893
5    Cu  0.480898  0.503644  0.482057

In [12]:
different_metal_certain_factor_analysis(['Ni', 'Zn', 'Pb', 'Xi', 'Al', 'Cu'], long_term_combine_result,'freq_win')

freq_win is 10, accuracy is 0.4586095410880841
freq_win is 15, accuracy is 0.45605795535934435
freq_win is 20, accuracy is 0.46213954366789034

  metal        10        15        20
0    Ni  0.469029  0.462684  0.448018
1    Zn  0.470896  0.466885  0.475061
2    Pb  0.370075  0.380873  0.409087
3    Xi  0.453553  0.451759  0.453696
4    Al  0.503281  0.519153  0.523908
5    Cu  0.453615  0.430726  0.442051

# Analyze the use_report

For long short term, use_reprot = 1 should be chosen.

In [13]:
different_metal_certain_factor_analysis(['Ni', 'Zn', 'Pb', 'Xi', 'Al', 'Cu'], short_term_combine_result,'use_report_day')

use_report_day is 1, accuracy is 0.4939499332178421
use_report_day is 3, accuracy is 0.48680510491023143
use_report_day is 5, accuracy is 0.4900687285223368

  metal         1         3         5
0    Ni  0.498971  0.505718  0.499874
1    Zn  0.496066  0.493247  0.500429
2    Pb  0.470410  0.467966  0.477949
3    Xi  0.485930  0.441610  0.455339
4    Al  0.506066  0.499585  0.504014
5    Cu  0.496751  0.486313  0.484314

In [14]:
different_metal_certain_factor_analysis(['Ni', 'Zn', 'Pb', 'Xi', 'Al', 'Cu'], long_term_combine_result,'use_report_day')

use_report_day is 1, accuracy is 0.46515192152956053
use_report_day is 3, accuracy is 0.4540944078642307
use_report_day is 5, accuracy is 0.4581603933722471

  metal         1         3         5
0    Ni  0.461855  0.459898  0.458499
1    Zn  0.472841  0.466074  0.473871
2    Pb  0.394026  0.381591  0.386408
3    Xi  0.465236  0.437741  0.456952
4    Al  0.516571  0.510763  0.518536
5    Cu  0.448229  0.438812  0.439455

# Analyze the rolling half

For short term:<br>
Rolling in 1 half should be chosen<br><br>

For long term:<br>
Rolling in 4 half may be chosen <br>

In [15]:
different_metal_certain_factor_analysis(['Ni', 'Zn', 'Pb', 'Xi', 'Al', 'Cu'], short_term_combine_result,'rolling_half')

rolling_half is 1_half, accuracy is 0.511620819632689
rolling_half is 2_half, accuracy is 0.48950270818674213
rolling_half is 3_half, accuracy is 0.4757657879609099
rolling_half is 4_half, accuracy is 0.48333117555670635

  metal    1_half    2_half    3_half    4_half
0    Ni  0.571548  0.444707  0.510438  0.471161
1    Zn  0.477969  0.487414  0.499547  0.522805
2    Pb  0.500000  0.474434  0.464516  0.446725
3    Xi  0.437485  0.478335  0.434631  0.477524
4    Al  0.509925  0.531521  0.499422  0.471508
5    Cu  0.527713  0.508356  0.430066  0.496239

In [16]:
different_metal_certain_factor_analysis(['Ni', 'Zn', 'Pb', 'Xi', 'Al', 'Cu'], long_term_combine_result,'rolling_half')

rolling_half is 1_half, accuracy is 0.4534560749146893
rolling_half is 2_half, accuracy is 0.47005767167381973
rolling_half is 3_half, accuracy is 0.4321877674632958
rolling_half is 4_half, accuracy is 0.481892289188828

  metal    1_half    2_half    3_half    4_half
0    Ni  0.465412  0.394785  0.476425  0.500890
1    Zn  0.436802  0.469143  0.441410  0.546565
2    Pb  0.427701  0.388188  0.337049  0.383105
3    Xi  0.422949  0.437010  0.446747  0.537677
4    Al  0.466335  0.616911  0.515391  0.467450
5    Cu  0.487979  0.474804  0.344526  0.452863

# Analyze the version

For long short term<br>
version have little differences.

In [17]:
different_metal_certain_factor_analysis(['Ni', 'Zn', 'Pb', 'Xi', 'Al', 'Cu'], short_term_combine_result,'version')

version is v2, accuracy is 0.48959276749902964
version is v3, accuracy is 0.4907282659285207

  metal        v2        v3
0    Ni  0.500799  0.502382
1    Zn  0.496516  0.496726
2    Pb  0.471491  0.473255
3    Xi  0.456358  0.460568
4    Al  0.503353  0.503034
5    Cu  0.488590  0.489349

In [18]:
different_metal_certain_factor_analysis(['Ni', 'Zn', 'Pb', 'Xi', 'Al', 'Cu'], long_term_combine_result,'version')

version is v2, accuracy is 0.4598668508981284
version is v3, accuracy is 0.4579993462933275

  metal        v2        v3
0    Ni  0.460722  0.459302
1    Zn  0.471301  0.470577
2    Pb  0.392165  0.381504
3    Xi  0.450191  0.455789
4    Al  0.513968  0.516592
5    Cu  0.442847  0.441322

# We fisrt fix the rolling half for long term and short term

For short-term result, we use rolling half: 1 half
For long-term result, we use rolling half : 4 half

In [19]:
short_term_combine_result_rolling_one_half = short_term_combine_result[short_term_combine_result['rolling_half'] == '1_half']
long_term_combine_result_rolling_four_half = long_term_combine_result[long_term_combine_result['rolling_half']=='4_half']

# Analyse freq_win

In [20]:
different_metal_certain_factor_analysis(['Ni', 'Zn', 'Pb', 'Xi', 'Al', 'Cu'], short_term_combine_result_rolling_one_half,'freq_win')

freq_win is 10, accuracy is 0.5046279155868197
freq_win is 15, accuracy is 0.5205851826224485
freq_win is 20, accuracy is 0.5101443620756926

  metal        10        15        20
0    Ni  0.564452  0.579183  0.571463
1    Zn  0.472592  0.493705  0.468608
2    Pb  0.505537  0.496047  0.498275
3    Xi  0.440451  0.436480  0.435518
4    Al  0.504240  0.519603  0.506465
5    Cu  0.502134  0.547481  0.536395

In [21]:
different_metal_certain_factor_analysis(['Ni', 'Zn', 'Pb', 'Xi', 'Al', 'Cu'], long_term_combine_result_rolling_four_half,'freq_win')

freq_win is 10, accuracy is 0.4583925160405544
freq_win is 15, accuracy is 0.4821763602251407
freq_win is 20, accuracy is 0.5059312582378587

  metal        10        15        20
0    Ni  0.491124  0.495228  0.516839
1    Zn  0.528936  0.548793  0.561386
2    Pb  0.336716  0.360239  0.453952
3    Xi  0.540318  0.522188  0.550332
4    Al  0.386188  0.497162  0.524722
5    Cu  0.473841  0.453438  0.429003

# Analyse use_report_day

In [22]:
different_metal_certain_factor_analysis(['Ni', 'Zn', 'Pb', 'Xi', 'Al', 'Cu'], short_term_combine_result_rolling_one_half,'use_report_day')

use_report_day is 1, accuracy is 0.5213157213157213
use_report_day is 3, accuracy is 0.507289468636102
use_report_day is 5, accuracy is 0.5072561745087435

  metal         1         3         5
0    Ni  0.571388  0.576068  0.567555
1    Zn  0.485221  0.472081  0.476797
2    Pb  0.499648  0.496874  0.503042
3    Xi  0.471495  0.418919  0.425794
4    Al  0.530478  0.496515  0.502785
5    Cu  0.539838  0.528919  0.515128

In [23]:
different_metal_certain_factor_analysis(['Ni', 'Zn', 'Pb', 'Xi', 'Al', 'Cu'], long_term_combine_result_rolling_four_half,'use_report_day')

use_report_day is 1, accuracy is 0.48205071906905256
use_report_day is 3, accuracy is 0.48053995467533744
use_report_day is 5, accuracy is 0.4830429080007495

  metal         1         3         5
0    Ni  0.501912  0.502884  0.498069
1    Zn  0.542602  0.544188  0.552341
2    Pb  0.394483  0.371913  0.384943
3    Xi  0.561493  0.525565  0.531458
4    Al  0.455457  0.472193  0.473724
5    Cu  0.450081  0.454150  0.454203

# Analyse version

In [24]:
different_metal_certain_factor_analysis(['Ni', 'Zn', 'Pb', 'Xi', 'Al', 'Cu'], short_term_combine_result_rolling_one_half,'version')

version is v2, accuracy is 0.5120765270450646
version is v3, accuracy is 0.5111564493668836

  metal        v2        v3
0    Ni  0.569885  0.573237
1    Zn  0.478381  0.477554
2    Pb  0.500091  0.499903
3    Xi  0.438737  0.436235
4    Al  0.513090  0.506690
5    Cu  0.527683  0.527743

In [25]:
different_metal_certain_factor_analysis(['Ni', 'Zn', 'Pb', 'Xi', 'Al', 'Cu'], long_term_combine_result_rolling_four_half,'version')

version is v2, accuracy is 0.48167274200081006
version is v3, accuracy is 0.48210742161661596

  metal        v2        v3
0    Ni  0.502447  0.499318
1    Zn  0.548227  0.544916
2    Pb  0.384035  0.382231
3    Xi  0.529213  0.545248
4    Al  0.465508  0.469352
5    Cu  0.452422  0.453306

# We fisrt fix the rolling half for long term and short term, fix the freq_win for long term and short term

In [26]:
short_term_one_half_freq_15 = short_term_combine_result_rolling_one_half[short_term_combine_result_rolling_one_half['freq_win']==15]
long_term_one_half_freq_20 = long_term_combine_result_rolling_four_half[long_term_combine_result_rolling_four_half['freq_win']==20]

# Analyse use_report_day

In [27]:
different_metal_certain_factor_analysis(['Ni', 'Zn', 'Pb', 'Xi', 'Al', 'Cu'], short_term_one_half_freq_15,'use_report_day')

use_report_day is 1, accuracy is 0.5307545973367153
use_report_day is 3, accuracy is 0.5166194663884335
use_report_day is 5, accuracy is 0.5153824833702882

  metal         1         3         5
0    Ni  0.579736  0.581616  0.576538
1    Zn  0.496644  0.491215  0.493324
2    Pb  0.495238  0.492623  0.499637
3    Xi  0.468677  0.420259  0.424125
4    Al  0.544094  0.507976  0.505938
5    Cu  0.559022  0.547264  0.536664

In [28]:
different_metal_certain_factor_analysis(['Ni', 'Zn', 'Pb', 'Xi', 'Al', 'Cu'], long_term_one_half_freq_20,'use_report_day')

use_report_day is 1, accuracy is 0.508595041322314
use_report_day is 3, accuracy is 0.5038099506947558
use_report_day is 5, accuracy is 0.5056565945868537

  metal         1         3         5
0    Ni  0.517962  0.519908  0.512896
1    Zn  0.559174  0.558616  0.566104
2    Pb  0.471956  0.449438  0.444670
3    Xi  0.565789  0.535135  0.552469
4    Al  0.520661  0.522308  0.530673
5    Cu  0.434419  0.429038  0.423645

# Analyse version

In [29]:
different_metal_certain_factor_analysis(['Ni', 'Zn', 'Pb', 'Xi', 'Al', 'Cu'], short_term_one_half_freq_15,'version')

version is v2, accuracy is 0.5211433046202036
version is v3, accuracy is 0.5200159728461615

  metal        v2        v3
0    Ni  0.576138  0.582272
1    Zn  0.494447  0.492958
2    Pb  0.496986  0.495050
3    Xi  0.439093  0.433855
4    Al  0.523607  0.515498
5    Cu  0.547305  0.547658

In [30]:
different_metal_certain_factor_analysis(['Ni', 'Zn', 'Pb', 'Xi', 'Al', 'Cu'], long_term_one_half_freq_20,'version')

version is v2, accuracy is 0.5051324163416137
version is v3, accuracy is 0.5067107371794872

  metal        v2        v3
0    Ni  0.517526  0.516146
1    Zn  0.562959  0.559825
2    Pb  0.452665  0.455152
3    Xi  0.542784  0.557078
4    Al  0.522703  0.526663
5    Cu  0.429119  0.428886

# We fisrt fix the rolling half for long term and short term, fix the freq_win for long term and short term, fix the use_report_day for long term and short term

In [31]:
short_term_one_half_freq_15_repo_1 = short_term_one_half_freq_15[short_term_one_half_freq_15['use_report_day']==1]
long_term_one_half_freq_20_repo_1 = long_term_one_half_freq_20[long_term_one_half_freq_20['use_report_day']==1]

In [32]:
different_metal_certain_factor_analysis(['Ni', 'Zn', 'Pb', 'Xi', 'Al', 'Cu'], short_term_one_half_freq_15_repo_1,'version')

version is v2, accuracy is 0.5314837905236908
version is v3, accuracy is 0.53

  metal        v2        v3
0    Ni  0.573913  0.585714
1    Zn  0.498516  0.494753
2    Pb  0.494949  0.495556
3    Xi  0.472222  0.465116
4    Al  0.549770  0.538088
5    Cu  0.559664  0.558376

In [33]:
different_metal_certain_factor_analysis(['Ni', 'Zn', 'Pb', 'Xi', 'Al', 'Cu'], long_term_one_half_freq_20_repo_1,'version')

version is v2, accuracy is 0.5084745762711864
version is v3, accuracy is 0.5087096774193548

  metal        v2        v3
0    Ni  0.518212  0.517707
1    Zn  0.562500  0.555906
2    Pb  0.474474  0.469849
3    Xi  0.562500  0.568548
4    Al  0.517301  0.523734
5    Cu  0.434494  0.434343

# Here we know we can use the v2 for short term and v3 for the long term

In [34]:
short_term_one_half_freq_15_repo_1_v2 = short_term_one_half_freq_15_repo_1[short_term_one_half_freq_15_repo_1['version']=='v2']
long_term_one_half_freq_20_repo_1_v3 = long_term_one_half_freq_20_repo_1[long_term_one_half_freq_20_repo_1['version']=='v3']

In [35]:
choose_metal(['Ni', 'Zn', 'Pb', 'Xi', 'Al', 'Cu'], short_term_one_half_freq_15_repo_1_v2)

0.5314837905236908

  metal       acc
0    Ni  0.573913
1    Zn  0.498516
2    Pb  0.494949
3    Xi  0.472222
4    Al  0.549770
5    Cu  0.559664

In [36]:
choose_metal(['Ni', 'Zn', 'Pb', 'Xi', 'Al', 'Cu'], long_term_one_half_freq_20_repo_1_v3)

0.5087096774193548

  metal       acc
0    Ni  0.517707
1    Zn  0.555906
2    Pb  0.469849
3    Xi  0.568548
4    Al  0.523734
5    Cu  0.434343